* {
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1d1d1d;
  background-size: cover;
}

#cursor {
  width: 50px;
  height: 50px;
  border: 3px solid rgb(255, 255, 255);
  transition: 0.5s ease-out;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  align-items: center;
  left: 0;
  z-index: 12;
}

#activity {
  width: 40px;
  height: 40px;
  border: 10px solid rgba(90, 91, 90, 0.475);
  background-color: #ffffff;
  transition: 0.1s ease-in;
  border-radius: 50%;
  position: absolute;
  top: 310px;
  left: 250px;
  margin: auto;
  /* to get double outline */
  outline: 3px solid white;
  z-index: 10;
}

p {
  font-family: "Open Sans";
  color: aliceblue;
}
footer {
  bottom: 0px;
  width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans";
  position: absolute;
  text-transform: capitalize;
  margin-bottom: 1%;
}

footer-content p {
  font-family: "Open Sans";
  color: rgb(227, 40, 40);
}

.profilePic {
  scale: 0.35;

  height: auto;
  position: absolute;
  margin-left: -150px;
  margin-right: auto;
  margin-top: auto;
  border-radius: 60%;
  border-color: white;
  border-style: solid;
  border-width: 10px;
  top: -90px;
  z-index: 1;
}

h1 {
  font-family: "Open Sans";
  color: white;
}

span {
  font-family: "Open Sans";
  color: white;
}

.intro {
  border: 3px solid rgba(255, 255, 255, 1);
  width: 250px;
  height: auto;
  font-size: 10px;
  padding-left: 50px;
  border-radius: 25px;
  background-color: rgb(32, 27, 27);
  position: absolute;
  margin-left: 250px;
  top: 175px;
}

.background {
  width: 1200px;
  height: 900px;
  padding: 10px;
  background-color: #121212;
  top: auto;
  left: auto;
  position: absolute;
  pointer-events: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0px 0px 500px 10px white;
}

.fa-discord {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quickInt {
  opacity: 1;
  font-family: "Open Sans";
  text-transform: capitalize;
  width: 400px;
  padding-left: 61px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 810px;
  transition: 0.1s ease-out;
  left: 0px;

  pointer-events: none;
  z-index: 4;
}
.quickHide {
  width: 400px;
  height: 50px;
  top: 820px;
  position: absolute;
  background-color: #121212;
  left: 0px;
  opacity: 1;
  z-index: 5;
  /* border: 1px solid white; */
}

.opaqueOutline {
  width: 1100px;
  height: 350px;
  background-color: white;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 30px rgb(0, 0, 0);
}
.fa-discord {
  color: white;
  position: absolute;
  top: 250px;
  transition: .1s ease-in;
  left: 350px;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.fa-github{
  color: white;
  position: absolute;
  top: 250px;
  transition: .1s ease-in;
  left: 390px;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.fa-linkedin{
  color: white;
  position: absolute;
  top: 250px;
  transition: .1s ease-in;
  left: 430px;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.fa-envelope{
  color: white;
  position: absolute;
  top: 250px;
  transition: .1s ease-in;
  left: 470px;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.coupontooltip {
  opacity: 0;
  background: #545353;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  transition: .1s ease-in;
  position: absolute;
  z-index: 1000;
  width: 80;
  pointer-events: none;
  height: 25px;
  top: 20px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .5);
  left: -22px;
  border-radius: 5px;
}
.fa-graduation-cap {
  color: white;
  opacity: 0.05;
  position: absolute;
  top: 875px;
  left: 20px;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.fa-graduation-cap:hover + .quickInt {
  opacity: 1;
  top: 850px;
}

.fa-discord:hover .coupontooltip {
  display: block;
  opacity: 1;
}


.fa-github:hover .coupontooltip {
  display: block;
  opacity: 1;
}

.fa-linkedin:hover .coupontooltip {
  display: block;
  opacity: 1;
}

.fa-envelope:hover .coupontooltip {
  display: block;
  opacity: 1;
}



.fa-discord:hover {
color: rgba(127, 127, 127, 0.475);
}


.fa-github:hover {
  color: rgba(127, 127, 127, 0.475);
  }


.projectsPage{
  display: none;
}